/* LocationList.css */

.location-card {
    height: 110px;
    padding: 10px 0px 0px 0px;
    width: 200px;
    display: flex;
    flex-direction: column;
    position: relative;
    user-select: none;
}

.location-card.active {
    background-color: lightblue;
}

.location-card-content {
    margin: 0px;
    flex-grow: 1;
}

.location-card-header {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    display: flex;
    justify-content: space-between;
    height: 40px;
}
